<div>Workout Log</div>
<div>
    <label>Weight </label>
    <input type="number" [(ngModel)]="workout.workoutname" /><br />

    <label>Time of Workout</label>
    <input type="number" [(ngModel)]="workout.recommendedReps" /><br />

    <label>Number of Reps</label>
    <input type="number" [(ngModel)]="workout.recommendedSets" /><br />

    <label>Number of Sets</label>
    <input type="number" [(ngModel)]="workout.recommendedDuration" /><br />

    <label>How do you feel</label>
    <input type="number" [(ngModel)]="workout.equipment" /><br />

    
   

    <button (click)="WorkoutLog()">Add Log</button>
</div>

