
<div>
    <label>Weight </label>
    <input type="number" [(ngModel)]="workoutlog.weight" /><br />
    <!-- Currently working on time or workout. Working on showing an automatic time for the user -->
    <!--<label>Time of Workout</label>
    <input type="number" [(ngModel)]="workout.timeOfWorkout" /><br />-->

    <label>Number of Reps</label>
    <input type="number" [(ngModel)]="workoutlog.reps" /><br />
   
    <label>Number of Sets</label>
    <input type="number" [(ngModel)]="workoutlog.sets" /><br />

    <label>How do you feel</label>
    <input type="number" min=0 max=10 [(ngModel)]="workoutlog.howDoYouFeel" /><br />




    <button (click)="WorkoutLog()">Add Log</button>
    <button (click)="CancelLog()">Cancel</button>
</div>

