<body class="welcomepage">



    <h1> About Us!</h1>

    <div class="summaryparagraph">

        <h3>
            Work it out is here to guide you and help you stay fit.
            Perform quick and effective workouts anywhere at any time with our reliable and user-friendly application.
            Keep track of your performance in a simple way in order to make precise analysis about your workout.
            Its like having a personal trainer in the palm of your hand, 24/7/365.
        </h3>

    </div>
    <br />

    <div class="image3">
    <img src="/images/ExerciseMountainClimb.jpg" width="800" height="650" />
    </div>
</body>

<style>
   /* @import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

    @import url('https://fonts.googleapis.com/css?family=Audiowide');
*/
    @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
   /* <link rel="preconnect" href="https://fonts.googleapis.com" >
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet" >*/
</style>
