<body class="welcomepage">



    <h1> About Us!</h1>

    <div class="summaryparagraph">

        <h3>
            Work it out is here to guide you and help you stay fit.
            Perform quick and effective workouts anywhere at any time with our reliable and user-friendly application.
            Keep track of your performance in a simple way in order to make precise analysis about your workout.
            Its like having a personal trainer in the palm of your hand, 24/7/365.
        </h3>

    </div>
    <br />

    <img src="/images/ExerciseMountainClimb.jpg" width="800" height="650" />

</body>

