

<div class="weatherInfo">
    <h1>Country: {{ weatherapi.currentWeather?.location.country}}</h1>

    <h2>City: {{ weatherapi.currentWeather?.location.name}}</h2>
    <h2>Temperature: {{weatherapi.currentWeather?.current.temp_f}}<span>&#8457;</span></h2>
    <h2> Humidity: {{weatherapi.currentWeather?.current.humidity}}</h2>
    <h2>{{weatherapi.currentWeather?.current.condition.text}}</h2>
    <h2>Weather Condition: <img src="{{weatherapi.currentWeather?.current.condition.icon}}" /></h2>

</div>
   
