<header>
    <ul class="sidebar">
        <img src="/images/WorkitOut.png" width="110" height="100" />
        <li *ngIf="logInOut == 'Log In'" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/login']">{{logInOut}}</a>
        </li>
        <li *ngIf="logInOut == 'Log Out'" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/profile']">Profile</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/wrkouts']">List of Workouts</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/currentweather']">Current Weather</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/join']">join</a>
        </li>
        <li *ngIf="logInOut == 'Log Out'" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/logout']">{{logInOut}}</a>
        </li>
    </ul>
</header>
